*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Muli', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  box-sizing: border-box; }

.header {
  height: 100vh;
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/hero.jpeg);
  background-size: cover;
  background-position: center;
  position: relative; }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 3.5rem; }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
  .header__heading-primary {
    color: #ffffff;
    margin-bottom: 3rem;
    backface-visibility: hidden; }
  .header__heading-primary--main {
    display: block;
    font-size: 5rem;
    font-weight: 800;
    letter-spacing: 2.8rem;
    text-indent: 2.8rem;
    text-transform: uppercase;
    animation: moveInLeft 2s ease-in; }
  .header__heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 0.2rem;
    text-indent: 0.2rem;
    animation: simpleOne 2s ease-in; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translate(-10rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes simpleOne {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.btn:link, .btn:visited {
  text-decoration: none;
  text-transform: uppercase;
  padding: 1.2rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  font-size: 1.4rem; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #ffffff;
  color: #777777; }
