// Colors
$color-primary: #021b79;
$color-secondary: #0575e6;

$color-dark: #000000;
$color-light: #ffffff;
$color-grey: #777777;
$color-grey-light-1: #f7f7f7;

// Font
$default-font-size: 1.6rem;

// Grid
$grid-width: 114rem; // This is width for 1140px; 1140px is trend now these days
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
