.btn {
  &:link,
  &:visited {
    text-decoration: none;
    text-transform: uppercase;
    padding: 1.2rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all 0.2s;
    font-size: 1.4rem;
  }
  &:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba($color-dark, 0.2);
  }
  &:active {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem rgba($color-dark, 0.2);
  }
  &--white {
    background-color: $color-light;
    color: $color-grey;
  }
}

.btn-text {
  &:link,
  &:visited {
    font-size: $default-font-size;
    display: inline-block;
    color: $color-primary;
    text-decoration: none;
    padding: 0.3rem;
    border-bottom: 0.1rem solid $color-primary;
    transition: all 0.2s;
  }

  &:hover {
    color: $color-light;
    background-color: $color-primary;
    box-shadow: 0 1rem 2rem rgba($color-dark, 0.15);
    transform: translateY(-2px);
  }

  &:active {
    box-shadow: 0 0.5rem 1rem rgba($color-dark, 0.15);
    transform: translateY(0);
  }
}
