@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translate(-10rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes simpleOne {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
